<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="componentRegistry"
             type="Shuttle.Core.Container.ComponentRegistrySection, Shuttle.Core.Container" />
    <section name="componentResolver"
             type="Shuttle.Core.Container.ComponentResolverSection, Shuttle.Core.Container" />
    <section name="bootstrap" type="Shuttle.Core.Container.BootstrapSection, Shuttle.Core.Container" />
  </configSections>

  <componentRegistry />
  <componentResolver />
  <bootstrap />
</configuration>